<a href="https://colab.research.google.com/github/LLevella/sql-metodics-matherial/blob/master/lecture_4_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Обобщенные табличные выражения**

*Обобщенным табличным выражением (OTB) (Common Table Expression - сокращенно CTE)* называется именованное табличное выражение, поддерживаемое языком SQL.

Используются в следующих двух типах запросов:

    • нерекурсивных;
    • рекурсивных.
    
 
*Создание:*
    
 WITH имя_ОТВ (список__столбцов) AS
 
 ( внутренний__запрос )
 
  внешний_запрос

**OTB и нерекурсивные запросы**

Можно использовать в качестве альтернативы производным таблицам и представлениям.
Определяется посредством предложения WITH и дополнительного запроса, который ссылается на имя, используемое в предложении WITH.

**Практика**

При помощи CTE выведите таблицу со следующим содержанием Фамилия и Имя сотрудника (staff) и количество прокатов двд (retal), которые он продал

**OTB и рекурсивные запросы**

Вычисление чего-то итерациями до того, как будет выполнено некоторое условие

 WITH RECURSIVE  имя_ОТВ (список__столбцов) AS (

    стартовый__запрос 
 
    union [all]
    
    рекурсивный__запрос__к__имя_ОТВ
 )
 
 внешний_запрос

**Алгоритм** примерно такой:

    1. Извлечь стартовые данные
    2. Подставить полученнные данные с предыдущей итерации в «рекурсивную» часть запроса.
    3. Если в текущей итерации рекурсивной части не пустая строка, то добавляем ее в результирующую выборку, 
    а также пометить данные, как данные для следующего вызова рекурсивной части (п. 2), иначе завершить обработкую

**Практика**

Посчитать факториал:

n! = 1*2*3*4 ... (n-1)*n

In [0]:
WITH RECURSIVE r AS (
    -- стартовая часть рекурсии (т.н. "anchor")
    SELECT 
        1 AS i, 
    WHERE i < 10
        1 AS factorial
    
    UNION 
    
    -- рекурсивная часть 
    SELECT 
        i+1 AS i, 
        factorial * (i+1) as factorial 
    FROM r
)

SELECT * FROM r;

**Представления**

Хранимый запрос к базе данных

Иногда  называют виртуальная таблица, но в этой таблице данные не хранятся, а хранится только сам запрос. 

Можно обращаться как к обычной таблице.

Для хранения сложных запросов и обращения к полученным данным из простых запросов.
 
*Создание:*

CREATE VIEW имя_представления

AS запрос_представления

*Изменение*

CREATE OR REPLACE view_name 
AS 
query

*Удаление*

DROP VIEW [ IF EXISTS ] view_name;

**Практика**

Создайте view с колонками клиент (ФИО; email) и title фильма, который он брал в прокат последним

**Материализованное представление**

Хранит результат запроса. Засчет этого доступ к информации происходит быстрее, но материализованное представление надо переодически обновлять

*Создание:*

CREATE MATERIALIZED VIEW view_name
AS
query
WITH [NO] DATA;

WITH DATA - загрузить данные сразу, WITH NO DATA - позже

*Обновление*

REFRESH MATERIALIZED VIEW view_name;

*Удаление*

DROP MATERIALIZED VIEW view_name;

**Различия CTE и VIEW**

*  Представления могут быть проиндексированы, но ОТВ не могут
*  ОТВ отлично работают с рекурсией
* Представления - физические объекты  БД, можно обращаться из нескольких запросов:
> * гибкость 
>* централизованный подход
* ОТВ - временные:
>* создаются, когда будут использоваться
>* удаляются после использования
>* не хранится статистика на сервере

**Домашнее задание**

1. Создать представление с запросом, позволяющим вывести магазины, имеющие больше 300-от покупателей

2. Создать материализованное представление с запросом, позволяющим узнать адрес каждого покупателя, его имя и фамилию, и обновить его